@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;  
    background-color: #292b2d;
    color: #fff;
    padding: 0 100px;
    overflow-x:hidden ;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;

}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav ul li{
    transition: all 0.5s;  
}
nav ul li:hover{
    color: #00abb3;
    cursor: pointer;
    text-shadow: 2px 2px 30px #00abb3;
    transition: all 0.5s;
}

nav h1{
    font-size: 35px;
    border-bottom: 1px solid ;
    border-color: #00abb3;
   
    
    
      
        
}
nav button{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 60px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
color: #fff;


}
/* Slogan */

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.hero img{
    width: 600px;
    height: 450px;
}

.slogan{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.slogan h1{
    font-size: 60px;
    line-height: 65px;
}
.slogan h1 span{
    color:#00abb3;
}
.desc{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.desc a{
width: 120px;
height: 120px;
border: 1px solid;
display: flex;
align-items: center;
text-decoration: none;
justify-content: center;
color:#fff;
padding: 50px;
font-size: 20px;
text-align: center;
border-radius: 200px;
 background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);



}

/*Bağlantılar*/
.baglantilar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
@media (min-width: 1500px){
    .baglantilar{
        margin-top: 200px;
    }
}


/* drops */
.drops{
   
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
    
}
.drops h1{
    font-size: 40px;
}
.drops ul{
    display: flex;
    list-style: none;
    gap: 40px;
   
}
.drops ul li{
    background-color: gray;
    border-radius: 40px;
    padding: 15px;
    text-shadow: 2px 2px 10px rgb(157, 60, 157);

}

/* büyük kutu ve kartlar */
.big-box{
    min-width: 900px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
    height: 400px;
    padding: 20px;
    color: #292b2d;
   
   
   
   }
.cards h3{
font-size: 20px;

}


.cards img{
    width: 100%;
    display: flex;
     color: #292b2d;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    
}
.value{
display: flex;
justify-content: space-between;
margin-top: 20px;
border-bottom: 1px solid gray;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left img{
    width: 20px;
}


.left p {
    color: #00abb3;
}
.time{
    display: flex;
    justify-content:space-between ;
    margin-top: 20px;
}
.time p{
    background-color: rgb(195, 186, 186);
    color: #00abb3;
    padding: 6px;
    border-radius: 20px;
    font-weight: 600;
}

.time button{
    background-color: white;
    border: none;
    color: #00abb3;
    font-weight: 600;

}
.time button:hover{
    background-color: #00abb3;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}
.tag{
 margin: -120px;
 width: 110vw;
 min-height: 150px;
 background-color: #00abb3;
 margin-top: 200px;
 font-size: 136px;
 line-height: 146px;
 padding: 50px; 
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 letter-spacing: 25px;
 font-weight: 800;
 white-space:nowrap;  
 transform: rotate(-6deg);
 text-shadow: 2px 2px 39px white ;

}
.advertisement{
    margin-top: 200px;
    width: 700px;
    height: 100px;
    display: flex;
    padding-left: 60px;
   
  
  
   
}
.advertisement h1{
    
  text-align: center;  
    
   
}

.info{
    
    height: 400px;
     width: 900px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-radius: 15px;
    
    
}
.info-section{
    width: 300px;
    height: 400px;
    background-color:rgb(23, 23, 70);
    justify-content: space-between;
    border-radius: 15px;
    text-align: center;
   

}
.info-section img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 200px;
   
}
.info-section h1{
    font-size: 20px;
   margin-top: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 10px #fff;
}
.info-section p{
    padding: 6px;
    margin-top: 40px;
   font-size: 10px;
    display: center;
    justify-content: center;

}


.finish-tag{
    margin-top: 100px;
    margin-left: 500px; 
  
    

}
.finish-text{
    width: 900px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    font-size: 15px;
    gap: 20px;
    padding-bottom: 50px;
}


